/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
  --header-height: 3rem;

  /* Colors */
  /* Hue changer */
  --hue-color: 250;

  /* HSL color mode */
  --first-color: hsl(var(var(--hue-color)), 69%, 61);
  --first-color-sub: hsl(var(var(--hue-color)), 69%, 61%);
  --first-color-alt: hsl(var(var(--hue-color)), 57%, 53%);
  --first-color-lighter: hsl(var(var(--hue-color)), 92%, 85%);
  --text-color: hsl(var(var(--hue-color)), 8%, 45%);
  --text-color-light: hsl(var(var(--hue-color)), 8%, 65%);
  --title-color: hsl(var(var(--hue-color)), 8%, 15%);;
  --input-color: hsl(var(var(--hue-color)), 70%, 96%);;
  --body-color: hsl(var(var(--hue-color)), 60%, 99%);;
  --container-color: #fff;

  /* Typography */
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.983rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  /* Bottom Margins */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}